.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.light{
  background-color: #ffffff;
}
.dark{
  background-color: #8ab652;
}
.btn {
  padding: 16px 20px;
  line-height: 1;
  font-weight: 700;
}
.btn-secondary{
  color: #000000;
  background-color: #aec0e4;
  border-color: #bdc1c9;
  border-radius: 0.25rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
